@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   Variables
   ========================================================================== */
/*ссылки синеватого оттенка*/
/*ссылки красноватого оттенка*/
/*путь до картинок от css*/
[class^="col"] {
  float: left;
  margin-left: 0.840336134454%; }

[class^="col"]:first-child {
  margin-left: 0; }

/* ==========================================================================
   Basic styles
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-family: 'open_sansregular';
  font-size: 62.5%;
  line-height: 1;
  background: url("../img/body.png") 0 0 repeat;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ==========================================================================
   Modiles
   ========================================================================== */
.wrap {
  width: 90%;
  min-width: 320px;
  margin: 0 auto; }

.saitinfo {
  background-color: #313131;
  height: 3em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75); }

.saitinfo a {
  color: #e6e4e4;
  font-size: 1.2em;
  float: right;
  line-height: 30px;
  padding-left: 31px;
  background: url(../img/header-sprait.png) 0 0 no-repeat; }

.saitinfo a[href^="mail"] {
  float: left;
  background-position: 0 -31px; }

.saitinfo a:hover {
  color: #fff; }

.top header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 186px; }
  .top header a {
    background: url("../img/logo.png") 0 0 no-repeat;
    display: block;
    width: 384px;
    height: 108px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -192px;
    top: 25px; }
  .top header h1 {
    position: absolute;
    bottom: 18px;
    left: 6.30252%;
    color: #878787;
    font-size: 2.2em;
    font-weight: normal; }
    .top header h1 strong {
      color: #699dcf;
      font-weight: normal; }

.mainmenu {
  width: 100%;
  position: relative; }
  .mainmenu ul {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fafafa;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f3f3f3));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%, #f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f3f3',GradientType=0 );
    padding-left: 0;
    border: 1px solid #ededed;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(194, 194, 194, 0.75);
    box-shadow: 0 1px 1px rgba(194, 194, 194, 0.75); }
  .mainmenu li {
    width: 100%; }
    .mainmenu li a:link, .mainmenu li a:visited {
      display: block;
      color: #6a6a6a;
      font-size: 1.9em;
      font-variant: small-caps;
      text-align: center;
      font-weight: normal;
      width: 100%;
      line-height: 2.7em;
      text-shadow: 0 1px 1px #fff;
      -webkit-transition: color .2s ease-in;
      -moz-transition: color .2s ease-in;
      -ms-transition: color .2s ease-in;
      -o-transition: color .2s ease-in;
      transition: color .2s ease-in; }
      .mainmenu li a:link:hover, .mainmenu li a:visited:hover {
        color: #699dcf; }
      .mainmenu li a:link:active, .mainmenu li a:visited:active {
        color: #547ea6; }
    .mainmenu li.current a {
      color: #699dcf; }

.search {
  width: 258px;
  height: 41px;
  line-height: 40px;
  display: none;
  vertical-align: middle;
  border: 1px solid #e4e4e4;
  padding-left: 3px;
  background: #fafafa;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f3f3',GradientType=0 ); }
  .search input[type="text"] {
    background: #FFF;
    border: 1px solid #e4e4e4;
    width: 182px;
    height: 32px;
    vertical-align: middle;
    font-size: 1.6em;
    color: #6a6a6a; }
  .search input[type="submit"] {
    color: #699dcf;
    font-size: 1.6em;
    border: 0;
    background: none;
    outline: none;
    vertical-align: middle;
    font-weight: normal;
    text-shadow: 0 1px 1px #fff; }

.search-switcher {
  display: none; }

.close-menu {
  display: none;
  width: 31px;
  height: 31px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../img/header-sprait.png") 0 -98px no-repeat; }

/************** prev articles styles ******************/
.post-item {
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 0, 0, 0.1); }

.post-item h2 a {
  color: #f8feff;
  font-size: 2em;
  font-weight: normal;
  display: block;
  background: #6e8eaf;
  border: 3px solid #eae7e6;
  padding: 9px 20px; }
  .post-item h2 a:hover {
    color: #ddd; }
  .post-item h2 a:active {
    color: #547ea6; }

.post-item header p {
  color: #818181;
  font-size: 1.2em;
  font-style: italic;
  padding: 10px 20px 15px 20px; }
  .post-item header p span {
    color: #e04d28; }

.prev-article {
  padding: 0 20px 20px 20px; }
  .prev-article h3 {
    color: #5f5f5f;
    font-weight: normal;
    font-size: 1.8em;
    margin-bottom: 15px; }
  .prev-article img {
    border: 2px solid #E4E4E4; }
  .prev-article p {
    color: #686868;
    font-size: 1.6em;
    line-height: 24px;
    margin: 15px 0; }

.prev-info a {
  color: #699dcf;
  font-size: 1.4em;
  font-family: Arial, sans-serif; }
  .prev-info a:hover {
    color: #df4d28; }
  .prev-info a:active {
    color: #c84d2f; }
  .prev-info a:first-child {
    border-right: 1px solid #3b3b3b;
    padding-right: 5px;
    margin-right: 5px; }

.col-11 article img {
  max-width: 100%; }

/****************   aside styles    *************************/
.col-5 li a {
  color: #699dcf;
  font-size: 1.6em; }
  .col-5 li a:hover {
    color: #df4d28; }
  .col-5 li a:active {
    color: #c84d2f; }

.col-5 li {
  margin: 18px 0; }

.lates-comments img {
  float: left;
  margin-right: 10px; }

.lates-comments li {
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid #d4d4d4;
  padding: 15px 0 15px 0;
  margin: 0; }
  .lates-comments li:last-child {
    border-bottom: 0; }

.lates-comments time {
  color: #818181;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  font-style: italic; }

.lates-comments p {
  color: #505050;
  font-size: 1.3em;
  margin-top: 5px;
  line-height: 1.2;
  display: block; }

.latest-news {
  clear: both;
  padding-bottom: 15px; }

aside .latest-news h2 {
  margin-bottom: 0; }

.latest-news time {
  color: #818181;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  font-style: italic; }

.latest-news p a {
  color: #699dcf;
  font-size: 1.5em;
  margin-top: 8px;
  line-height: 1.2;
  display: block; }

.latest-news li {
  border-bottom: 1px solid #d4d4d4;
  padding: 15px 0 15px 0;
  margin: 0; }
  .latest-news li:last-child {
    border-bottom: 0; }

.follow-us li {
  width: 70px;
  height: 50px;
  float: left; }
  .follow-us li a {
    display: block;
    width: 70px;
    height: 60px;
    text-indent: -9000px;
    background: url("../img/social.png") 50% 0 no-repeat; }
  .follow-us li:nth-child(1) a {
    background-position: 50% -60px; }
  .follow-us li:nth-child(3) a {
    background-position: 50% -120px; }
  .follow-us li:nth-child(4) a {
    background-position: 50% -180px; }

.latest-saits {
  clear: both;
  padding-bottom: 15px; }

.read-all:link, .read-all:visited {
  color: #df4d28;
  font-size: 1.4em;
  font-family: Arial, sans-serif;
  margin-left: 15px; }
  .read-all:link:hover, .read-all:visited:hover {
    color: #699dcf;
    text-decoration: underline; }
  .read-all:link:active, .read-all:visited:active {
    color: #c84d2f; }

.latest-saits img {
  border: 2px solid #e6e6e6; }
  .latest-saits img:hover {
    border: 2px solid #df4d28; }

.latest-saits li {
  display: inline-block;
  margin: 0px 10px 18px 0; }

.latest-saits li a {
  display: inline-block; }

aside .sec-heading {
  color: #f4f4f4;
  font-size: 2em;
  font-weight: normal;
  background: #73a7ad;
  border: 2px solid #eae7e6;
  padding: 9px 20px;
  margin-bottom: 15px;
  color: #f4f4f4;
  font-weight: normal;
  font-variant: small-caps; }

aside.col-5 {
  margin-top: 35px; }

aside > div {
  margin-bottom: 20px; }

.follow-us {
  overflow: hidden; }

aside .category, aside .lates-comments, aside .archive, aside .follow-us, aside .latest-news, aside .latest-saits {
  border: 1px solid #eae7e6;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 0, 0, 0.1); }
  aside .category > ul, aside .lates-comments > ul, aside .archive > ul, aside .follow-us > ul, aside .latest-news > ul, aside .latest-saits > ul {
    padding-left: 15px;
    padding-right: 15px; }

aside .archive {
  background: white url("../img/archive.png") 80% 60% no-repeat; }
  aside .archive li {
    text-decoration: underline; }

aside .lates-comments h2 {
  margin-bottom: 0; }

aside .category ul {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px; }
  aside .category ul li {
    margin: 8px 0;
    background-color: #f2f2f2;
    border: 1px solid #e8e7e6; }
    aside .category ul li a {
      display: block;
      color: #9a9a9b;
      font-size: 1.6em;
      padding: 15px 0 15px 60px;
      background-image: url("../img/category-sprait.png");
      background-repeat: no-repeat;
      background-position: 5px 5px;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
      aside .category ul li a:hover {
        background-color: rgba(255, 255, 255, 0.7);
        color: #699dcf; }
    aside .category ul li:nth-child(2) a {
      background-position: 5px -52px; }
    aside .category ul li:nth-child(3) a {
      background-position: 5px -111px; }
    aside .category ul li:nth-child(4) a {
      background-position: 5px -169px; }
    aside .category ul li:nth-child(5) a {
      background-position: 5px -229px; }
    aside .category ul li:nth-child(6) a {
      background-position: 5px -286px; }

/****************  footer ********************/
.helper {
  height: 11.6em;
  clear: both; }

.all {
  padding-bottom: 57.7em;
  overflow: hidden; }

.footer {
  min-height: 57.7em;
  background: #313131;
  border-top: 6px solid #c9c8c8;
  clear: both;
  width: 100%;
  position: absolute;
  bottom: 0; }

.top-footer {
  padding: 53px 0;
  overflow: hidden; }
  .top-footer p {
    font-size: 1.3em;
    color: #d7d7d7;
    margin-top: 15px;
    line-height: 1.5em; }
    .top-footer p a {
      color: #858585; }
      .top-footer p a:hover {
        color: #fff; }
  .top-footer ul {
    margin-top: 15px; }
    .top-footer ul li {
      overflow: hidden;
      margin-bottom: 15px; }
      .top-footer ul li time {
        color: #d7d7d7;
        font-size: 1.3em;
        font-family: Arial, sans-serif;
        font-style: italic;
        line-height: 3em; }
      .top-footer ul li a {
        color: #fefefe;
        font-size: 1.3em; }
      .top-footer ul li img {
        float: left;
        margin-right: 10px; }
  .top-footer form input {
    border: 2px solid #4d4d4d;
    display: block;
    width: 80%;
    height: 34px;
    margin-bottom: 15px;
    background: #424242;
    font-size: 1.4em;
    color: #9b9a9a;
    padding-left: 10px; }
  .top-footer form textarea {
    width: 80%;
    padding-left: 10px;
    background: #424242;
    font-size: 1.4em;
    color: #9b9a9a;
    border: 2px solid #4d4d4d;
    min-height: 116px;
    margin-bottom: 15px; }
  .top-footer form input[type="submit"] {
    background: #292929;
    width: 122px;
    height: 35px;
    color: #686868;
    font-size: 1.3em;
    vertical-align: middle;
    border: 0; }

.top-footer h3 {
  color: #ebeaea;
  font-size: 2.6em;
  font-variant: small-caps;
  border-bottom: 1px solid #000;
  font-weight: normal;
  padding-bottom: 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 1px 0 #484848;
  box-shadow: 0 1px 0 #484848; }

.bottom-footer {
  clear: both;
  border-top: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 #484848;
  box-shadow: 0 1px 0 #484848; }
  .bottom-footer nav {
    margin-top: 35px;
    overflow: hidden; }
  .bottom-footer nav li {
    float: left;
    border-right: 1px solid #4e4e4e;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 10px; }
    .bottom-footer nav li:last-child {
      padding-right: 0px;
      margin-right: 0px;
      border-right: 0; }
    .bottom-footer nav li a {
      color: #e0dfdf;
      font-size: 13px;
      float: left; }
  .bottom-footer small {
    font-size: 1.3em;
    color: #d7d7d7;
    display: inline-block;
    margin-top: 35px; }
  .bottom-footer .logo-block {
    height: 52px;
    background: url("../img/logo-small.png") 50% 0 no-repeat;
    margin-top: 35px; }

/* ==========================================================================
   ==========================================================================
   ==========================================================================
   ==========================================================================
   ==========================================================================
   ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  .wrap {
    width: 90%; } }
@media only screen and (max-width: 679px) {
  .mainmenu ul {
    display: none; }
    .mainmenu ul li a {
      border-bottom: 1px solid #e2e2e2;
      -webkit-box-shadow: 0 1px 1px #fff;
      box-shadow: 0 1px 1px #fff; }
    .mainmenu ul li:last-child a {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .mainmenu .search {
    display: none; }
  .mainmenu .menu-switcher {
    display: block;
    width: 100%;
    line-height: 2.7em;
    font-variant: small-caps;
    text-align: center;
    color: #7a7a7a;
    font-size: 1.5em;
    background: #fafafa;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f3f3f3));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #f3f3f3 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%, #f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f3f3',GradientType=0 );
    border: 1px solid #ededed;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(194, 194, 194, 0.75);
    box-shadow: 0 1px 1px rgba(194, 194, 194, 0.75); }
    .mainmenu .menu-switcher:hover {
      color: #699dcf; } }
@media only screen and (min-width: 680px) {
  .close-menu {
    display: none!important; }

  .mainmenu {
    width: 100%;
    margin: 0 auto;
    position: relative; }
    .mainmenu .search {
      position: absolute;
      display: none;
      right: 0;
      top: -43px;
      z-index: -1; }
    .mainmenu .search-switcher {
      position: absolute;
      right: 3%;
      top: 50%;
      margin-top: -15px;
      width: 31px;
      height: 31px;
      display: block;
      background: url("../img//header-sprait.png") 0 -65px no-repeat; }
    .mainmenu ul {
      width: 100%;
      display: block!important; }
    .mainmenu .menu-switcher {
      display: none!important; }
    .mainmenu li {
      float: left;
      width: 30%; }
      .mainmenu li a {
        float: left;
        position: relative; }
        .mainmenu li a:hover {
          color: #699dcf; }
        .mainmenu li a:after {
          content: '';
          display: block;
          width: 1px;
          height: 36px;
          background-color: #e3e3e3;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -18px;
          -webkit-box-shadow: 1px 0 1px #ffffff;
          box-shadow: 1px 0 1px #ffffff; }
      .mainmenu li.current a {
        color: #699dcf; }
      .mainmenu li:last-child a:after {
        display: none;
        visibility: none; }
      .mainmenu li:nth-child(3) a:after {
        display: none;
        visibility: none; } }
@media only screen and (max-width: 768px) {
  .content [class^="col"] {
    float: none;
    margin-left: 0;
    width: 100%; }

  .footer [class^="col"] {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px; }

  .footer {
    height: auto;
    position: static; }

  .helper {
    height: 0; }

  .all {
    padding-bottom: 5em; } }
@media only screen and (min-width: 768px) {
  .mainmenu ul {
    width: 100%;
    padding-left: 8%; }
    .mainmenu ul li {
      width: 15%; }
      .mainmenu ul li:nth-child(3) a:after {
        display: block;
        visibility: visible; }

  .lt-ie9 .mainmenu ul {
    width: 92%; } }
@media only screen and (max-width: 1200px) {
  .top-footer form input {
    width: 96%; }

  .top-footer form textarea {
    width: 96%; } }
@media only screen and (min-width: 960px) {
  .wrap {
    width: 80%; } }
@media only screen and (min-width: 1320px) {
  .wrap {
    width: 120em; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   column styles
   ========================================================================== */
.col-1 {
  width: 5.46218%; }

.col-2 {
  width: 11.76471%; }

.col-3 {
  width: 18.06723%; }

.col-4 {
  width: 24.36975%; }

.col-5 {
  width: 30.67227%; }

.col-6 {
  width: 36.97479%; }

.col-7 {
  width: 43.27731%; }

.col-8 {
  width: 49.57983%; }

.col-9 {
  width: 55.88235%; }

.col-10 {
  width: 62.18487%; }

.col-11 {
  width: 68.48739%; }

.col-12 {
  width: 74.78992%; }

.col-13 {
  width: 81.09244%; }

.col-14 {
  width: 87.39496%; }

.col-15 {
  width: 93.69748%; }

.modifer-1 {
  margin-left: 7.14286%; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
